@use "./base.scss";
  
// put your custom CSS here!
 
html {
  font-family: Vazirmatn, sans-serif !important;
}
 
.breadcrumb-element p {
  margin: 0 .5rem 0 0;
  padding: 0;
  line-height: normal;
}
 
button#explorer .fold {
  opacity: .8;
  margin-left: 0 !important;
  margin-right: 0.5rem !important;
  transition: transform .3s;
}
 
.content-meta[show-comma="true"] > span:not(:last-child) {
  margin-left: 8px !important;
  margin-right: 0px !important;
}
 
.tags {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
 
.folder-icon {
  margin-right: 0px !important;
  margin-left: 5px !important;
}
 
#explorer-content ul {
  padding-right: .7rem !important;
  padding-left: 0px !important;
}
 
#toc-content .depth-1 {
  padding: 0px !important;
  padding-right: 1rem !important;
}
 
#toc-content .depth-2 {
  padding: 0px !important;
  padding-right: 2rem !important;
}
 
#toc-content .depth-3 {
  padding: 0px !important;
  padding-right: 3rem !important;
}
 
li:has(> .folder-outer:not(.open)) > .folder-container > svg {
  transform: rotate(90deg) !important;
}
 
div.search.mobile-only {
    padding-right: 10px !important;
}
 
code { 
	direction: ltr !important;
}

// put your custom CSS here!

body {
    font-size: 1.1em
}

p {
    line-height: 1.8rem
}

li {
    line-height: 2rem
}

sup {
    vertical-align: middle
}

h2 {
    border-bottom: 1px solid var(--lightgray);
    margin-top: 1rem;
    margin-bottom: -.2rem;
    padding-bottom: .2em;
    font-size: 1.6rem
}

h3 {
    margin-top: 1rem;
    margin-bottom: -.2rem;
    font-size: 1.3rem
}

h4,h5,h6 {
    margin-top: 1rem;
    margin-bottom: -.2rem;
    font-size: 1.1rem
}

